{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'vue/css/app.4654b28b.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'vue/css/chunk-vendors.f4e10491.css' %}">
    </head>
    <body>
        <div id="app"></div>

        <script type="text/javascript" src="{% static 'vue/js/chunk-vendors.7c7ef6e4.js' %}"></script>
        <script type="text/javascript" src="{% static 'vue/js/app.f34d743c.js' %}"></script>
    </body>
</html>