.env
app.yaml
*.sqlite3
static/*
app/migrations/*
resume/migrations/*
base/migrations/*
contact/migrations/*
app/__pycache__/*
resume/__pycache__/*
base/__pycache__/*
contact/__pycache__/*
contact/migrations/*
article/__pycache__/*
article/migrations/*
.DS_Store