{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}">
{{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
{% if form.errors and not form.non_field_errors %}
<p class="errornote">
{% if form.errors.items|length == 1 %}{% translate "Please correct the error below." %}{% else %}{% translate "Please correct the errors below." %}{% endif %}
</p>
{% endif %}

{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<p class="errornote">
    {{ error }}
</p>
{% endfor %}
{% endif %}

<div id="content-main">

{% if user.is_authenticated %}
<p class="errornote">
{% blocktranslate trimmed %}
    You are authenticated as {{ username }}, but are not authorized to
    access this page. Would you like to login to a different account?
{% endblocktranslate %}
</p>
{% endif %}

<form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
  <div class="form-row">
    {{ form.username.errors }}
    {{ form.username.label_tag }} {{ form.username }}
  </div>
  <div class="form-row">
    
    {{ form.password.errors }}
    {{ form.password.label_tag }} {{ form.password }}
    <input type="hidden" name="next" value="{{ next }}">
  </div>
  {% url 'admin_password_reset' as password_reset_url %}
  {% if password_reset_url %}
  <div class="password-reset-link">
    <a href="{{ password_reset_url }}">{% translate 'Forgotten your password or username?' %}</a>
  </div>
  {% endif %}
  <div class="form-row">
    <div class="g-recaptcha" data-sitekey="6Len6HgbAAAAAIk1-sQqAW7kKMKpyJVhLt4T02gT"></div>
  </div>
  <div class="submit-row">
    <input type="submit" value="{% translate 'Log in' %}">
  </div>
  <script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $( document ).ready(function() {
        $("#login-form").submit(function(e){
            e.preventDefault();
            if (grecaptcha != undefined && grecaptcha.getResponse() == ""){
                $(".message-container").addClass('show').addClass('alert-danger').removeClass('hidden').text("You Cant Proceed!")
              } else {
                $("#login-form")[0].submit();
            }
        })
    });
  </script> 
  <script src='https://www.google.com/recaptcha/api.js' async defer></script>
  
</form>

</div>
{% endblock %}